:root {
  // --df-primary: #{$primary};
  // --df-secondary: #{$light};
}

body {
  font-family: 'Lato', sans-serif;
}

a {
  text-decoration: none !important;
  color: inherit !important;
}

h1 {
  font-size: 1rem;
}

ul{
  padding-left:0 !important;
  margin-bottom: 0 !important;
}

p{
  margin-bottom: 0 !important;
}

.btn-clean {
  border: none;
  background: none;
  padding: 0 !important;
}

.z-index-1000 {
  z-index: 1000;
}

.z-index-1100 {
  z-index: 1100;
}

.h-2rem {
  height: 2rem;
}

.delete-checkbox{
  left: 0.3rem;
  top: 0.3rem;
}

// MATERIAL UI

.MuiButtonBase-root.MuiButton-root{
  background-color: var(--bs-primary);
  color:white;
  padding: 0.4rem 1rem;

  &:hover{
    background-color: var(--bs-primary);
    filter: opacity(0.7);
  }
}